body{
 background-color: rgb(200, 198, 202);
}
.nav li a:hover{
  color:blueviolet;
}
.site-header hidden-xs{
  display:flexbox;
  gap: 5px;
  border: solid violet ;
}
.img-responsives{
border-radius: 40px;
box-shadow: 1px;
box-decoration-break: clone;
}
.sidebar{
  background-image: url("back.jpg");
 
}
.container{
  display: inline-block;
  height:50px;
  text-align: left;
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
  

}

.typed-out{
  overflow: hidden;
  border-right: .15em solid rgb(200, 198, 202);
  white-space: nowrap;
  animation: 
    typing 20s forwards;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.img-responsive{
display: flex;
border-radius: 5px;
box-shadow: 0px 0px 2px 2px;
background-color: white;
}
.img-responsive:hover{
  display: flex;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px;
  transform: rotate(-7deg);
  background-color: white;
  }